# Non-distributable scenarios
scenarios/**/*.xml

# Local logging setup
supplement/log4j.properties

# Run results
boot/logs
boot/results
boot/*.png
boot/**/*.cfg
boot/*.gps

# Log files
run/logs

# Compiled classes
build

# Generated jar
dist

# Private netbeans stuff
nbproject/private
