!include common.cfg

###
# This is an example configuration file to run the BinaryMaxSum.
#
# Notice that all variables defined here can be overwritten from
# the command line. For instance, the default launcher changes the 
# results file path (see boot/functions.sh)
##

# Fully qualified class of the solver
solver.class: RSLBench.Algorithms.BMS.BinaryMaxSum

# Path to the results folder
results.path: results/

# File where to store the results
results.file: results.dat
